@font-face {
  font-family: 'GrenzeGotisch';
  src: url('GrenzeGotisch-ExtraLight.ttf') format('truetype'),
       url('GrenzeGotisch-Regular.ttf') format('truetype');
}
body {
  font-family: "GrenzeGotisch", serif;
}
  h1 {
    font-family: 'GrenzeGotisch', serif;
    color: #e187cf;
  }
    
    h3 {
        color:#e187cf;
        }
        p {
          font-family: 'GrenzeGotisch', serif; 
          color: #e187cf;
        }        
    body {
        background-color:#f0c3e7a5;
        }
        img {
            border: 5px solid #e187cf;
            margin-left:175px;
            box-sizing: border-box;
            padding: 10px;
            }
/* Start https://www.cursors-4u.com */ * {cursor: url(https://ani.cursors-4u.net/symbols/sym-9/sym826.ani), url(https://ani.cursors-4u.net/symbols/sym-9/sym826.png), auto !important;} /* End https://www.cursors-4u.com */